* {
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  /* padding: 20px; */
  background-color: rgb(246, 244, 244);
  
}

.nav-inner {
  padding: 20px;
  display: flex;
  align-items: center;
}

.material-icons {
  display: block;
  border: 1px solid rgb(43, 42, 42);
  cursor: pointer;
}
.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-menu li {
  display: inline-block;
}
.router {
  color: black;
  padding: 10px;
  text-decoration: none;
  margin-left: 10px;
}
.router:hover {
  background-color: rgb(212, 208, 208);
  border-radius: 10%;
}
.logo{
  display: block;
  margin-left:10px;
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}
/* 筆記區 */
.main {
  width: 100%;
  padding: 0px 40px;
}
.content-area {
  /* width: 800px; */
  height: 100%;
}
.content {
  width: 100%;
  display: flex;
}

/* menu */
.aside {
  min-width: 300px;
  height: 100vh;
  background-color: #f9f9f9;
}
.menu-topic-1 {
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
}
/* 頁面 */
.topic {
  padding: 20px 0;
  font-size: 25px;
}
.topic-area {
  padding: 20px 0;
  /* width:100%; */
  border-bottom: rgb(219, 218, 218) 1px solid;
}
.date{
  color:rgb(206, 203, 203);
  padding: 0 3px;
}
